title: Spencer Tweedy
timezone: America/Chicago
collections:
  newsletters:
    title: Newsletters
    output: true
    permalink: "/observations/newsletters/:title/"
  observations:
    title: Observations
    output: true
    permalink: "/observations/:title/"
    sort_by: datestamp
  posts:
    title: Posts
    output: true
    layout: post
  releases:
    title: Releases
    output: false
  uploads:
    title: Uploads
    output: true
defaults:
- scope:
    path: ''
    type: observations
  values:
    layout: obs-post
- scope:
    path: ''
    type: posts
  values:
    layout: post
    image: 
    image_caption: 
- scope:
    path: ''
    type: releases
  values:
    artist: ''
    year: ''
    color: ''
    listen: ''
    image: ''
    role: ''
    is_single: ''
    is_featured: ''
- scope:
    path: ''
    type: newsletters
  values:
    layout: obs-newsletter
collections_dir: content
email: me@spencertweedy.com
description: Hi! I play drums.
obs_description: A daily list blog by Spencer Tweedy.
author: Spencer Tweedy
url: https://spencertweedy.com
subscribe_url: https://spencertweedy.substack.com # keep this up-to-date with _redirects
twitter: spencertweedy
facebook: spencertweedy
instagram: spencertweedy
obs_twitter: spencertweedy
obs_instagram: observationsinc
typekit: ejh7rbn
umami_site_id: 95944069-6b4e-4fc8-9d2d-9d858ac2e937
locale: Chicago
github_repo: https://github.com/spencertweedy/spencertweedy.com
markdown: kramdown
permalink: "/:categories/:title/"
include:
- _redirects
exclude:
- README.md
- netlify.toml
- postcss.config.js
- tailwind.config.js
- package.json
- package-lock.json
obs-archives:
  enabled:
    - month
  layout: obs-archive
  permalinks:
    month: '/observations/:year:month/'
