---
layout: default
---

<p>Hi! My name is Spencer.</p>
<p>I play drums and make records in Chicago. Most recently, I've worked on
    {% assign releases = site.releases | sort:"year" | reverse %}
    {% for release in releases limit:3 %}
		{% if forloop.last == true %}
			and 
		{% endif %}
		<span><a href="{{ release.listen }}" style="color:{{ release.color }}; border-color:{{ release.color }};"><em>{{ release.title }}</em></a>{% if release.artist %} by {{ release.artist | replace: "Jeff Tweedy", "my dad" | replace: "Spencer Tweedy", "me" }}{% endif %}</span>{% unless forloop.last == true %}, {% endunless %}
	{%- endfor -%}.
    Here's a <a href="{{ site.baseurl }}{% link releases.html %}">full list</a> of the records I've helped make.
</p>
<p>I write, mostly for my blog, <a href="{{ site.baseurl }}/observations" class="with-icon observations-link">Observations</a>. And I design stuff, mostly for my company, <a href="https://fjordaudio.com/" class="with-icon fjord-link">Fjord Audio</a>.</p>
<p>I want to do more politicky, people-helpy work. I also want to learn more about woodworking. FYI.</p>
<p>Here's how to <a href="{{ site.baseurl }}{% link contact.html %}">contact me</a>. And here's where to sign up for my <a href="{{ site.baseurl }}{% link observations/subscribe.html %}">monthly newsletter</a>.</p>
<p>Thanks for coming here 😭 ❤️<br>
Spencer</p>
