---
title: Releases
layout: page
---

<section id="releases-page">
	<ol>
		{% assign releases = site.releases | sort:"year" | reverse %}
		{% for release in releases %}
			<li style="background:{{ release.color }};">
				<a href="{{ release.listen }}">
					<div class="release-image"></div>
					<span class="release-title {% if release.song %}song{% endif %}">{{ release.title }}</span>
					{% if release.artist %}<span class="release-artist">{{ release.artist }}</span>{% endif %}
					<span class="release-meta">
						{% if release.year %}<span class="release-year">{{ release.year }}</span>{% endif %}
						{% if release.role %}<span class="release-role">{{ release.role }}</span>{% endif %}
					</span>
				</a>
			</li>
		{% endfor %}
	</ol>
</section>
