---
title: Releases
permalink: "/releases"
layout: page-classic
---
<section id="releases-page">
	{% assign releases_by_year = site.releases | group_by:"year" | reverse %}
	{% for year in releases_by_year %}
		<h4>{{ year.name }}</h4>

		<ol>
			{% assign releases = year.items | sort:"year" | reverse %}
			{% for release in releases %}
				<li>
					<div class="release-inner" style="background:{{ release.color }};">
						<a href="{{ release.listen }}">
							<div class="release-image"><img src="{{ release.image }}" alt="{{ release.title }} artwork" /></div>
							<span class="release-title">{{ release.title }}</span>
							{% if release.artist %}<span class="release-artist">{{ release.artist }}</span>{% endif %}
							{% if release.role %}<span class="release-role">{{ release.role }}</span>{% endif %}
						</a>
					</div>
				</li>
			{% endfor %}
		</ol>
	{% endfor %}
</section>