---
title: Music
permalink: "/music"
layout: page
width: constrained
---

<div class="space-y-8">
	<p>I love to make music with my family and friends and new friends</p>
	<p>
		Listen to a playlist of <a href="https://lnkfi.re/50dram" target="_blank">50 songs I dram</a>,
		<br>download <a href="{% link pages/drumprints.html %}">free drum samples</a>,
		<br>watch some <a href="https://youtube.com/playlist?list=PLqYW-VP-pvnnNRAbqByvkrSKL7PsRLxBj&si=lQmRwJHEpFTG9bAz" target="_blank">videos</a>,
		<br>or browse below
	</p>
	
	{% include release-carousel.html artist="Jeff Tweedy" %}
	{% include release-carousel.html artist="Waxahatchee" secondary_artist="Plains" %}
	{% include release-carousel.html artist="Mavis Staples" secondary_artist="Pops Staples" %}
	{% include release-carousel.html artist="Case Oats" %}
	{% include release-carousel.html artist="Spencer Tweedy" %}

	<section class="space-y-4">
		<h2>All releases</h2>

		{% include releases.html %}
	</section>
</div>
