<footer id="site-footer">
	{% if page.layout == 'post' %}<img src="/assets/drums.gif" alt="Animated drumming figure">

	{% if site.tinyletter %}<section>
		<form action="https://tinyletter.com/{{ site.tinyletter }}" class="subscribe-form" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/{{ site.tinyletter }}', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
            <label for="tlemail">Enter your email address</label>
            <input type="text" name="email" id="tlemail" aria-label="Enter your email address" placeholder="Your email address" />
            <input type="hidden" value="1" name="embed"/>
            <input type="submit" value="Subscribe" />
        </form>
	</section>{% endif %}{% endif %}

    <p>
        {% if page.layout == 'default' %}Last updated {{ site.time | date: "%m/%d/%Y" }} &bull; Cover photo by <a href="{{ site.cover_photo_credit[1] }}">{{ site.cover_photo_credit[0] }}</a><br />
        {% if site.github_repo %}Published on <a href="{{ site.github_repo }}">GitHub Pages</a> &bull; {% endif %}Made in {{ site.locale }}<br />{% endif %}
        Copyright &copy; {{ site.time | date: "%Y" }} {{ site.title }}
    </p>

    <!-- Quantcast Tag -->
    {% if site.quantcast %}<script type="text/javascript">
    var _qevents = _qevents || [];

    (function() {
    var elem = document.createElement('script');
    elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
    elem.async = true;
    elem.type = "text/javascript";
    var scpt = document.getElementsByTagName('script')[0];
    scpt.parentNode.insertBefore(elem, scpt);
    })();

    _qevents.push({
    qacct:"{{ site.quantcast }}"
    });
    </script>

    <noscript>
    <div style="display:none;">
    <img src="//pixel.quantserve.com/pixel/{{ site.quantcast }}.gif" border="0" height="1" width="1" alt="Quantcast"/>
    </div>
    </noscript>{% endif %}
    <!-- End Quantcast tag -->
</footer>