<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.layout == 'default-observations-newsletter' %}<meta name="robots" content="noindex, nofollow">{% endif %}

    <title>{% if page.title %}{{ page.title | escape }} &#8942; {% endif %}{{ site.title | escape }}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <!-- LOVE & LOGIC -->

    <!-- Social media tags -->
    {% if site.twitter %}<meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{ site.twitter }}">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="twitter:image" content="{% if page.feature_image %}{{ page.feature_image | prepend: site.url }}{% else %}{{ site.cover_photo_path | prepend: site.url }}{% endif %}">{% endif %}
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:image" content="{% if page.feature_image %}{{ page.feature_image | prepend: site.url }}{% else %}{{ site.cover_photo_path | prepend: site.url }}{% endif %}">

    {% if site.typekit %}{% unless page.layout == 'default-observations' or page.layout == 'post' or page.layout == 'page' or page.layout == 'default-observations-newsletter' %}<script src="https://use.typekit.net/{{ site.typekit }}.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>{% endunless %}{% endif %}

    {% if page.layout == 'default-observations' or page.layout == 'default-observations-newsletter' or page.layout == 'post' or page.layout == 'page' or page.layout == 'obs-newsletter' %}<link rel="stylesheet" href="{{ "/css/observations.normalize.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/observations.css" | prepend: site.baseurl }}">{% else %}<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">{% endif %}
    {% if page.layout == 'default-observations-newsletter' or page.layout == 'obs-newsletter' %}<link rel="stylesheet" href="{{ "/css/observations-newsletter.css" | prepend: site.baseurl }}">{% endif %}
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
    <link rel="icon" type="image/x-icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon.png" | prepend: site.baseurl }}">
</head>
