<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
	<header class="post-header">
		<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
	</header>

	<section class="post-content">
		{{ post.content }}
	</section>

	{% if post.image %}
		<aside class="post-aside">
			<img src="{{ post.image }}"{% if post.image_caption %} alt="{{ post.image_caption }}"{% endif %}>

			{% if post.image_caption %}
				<p><small>{{ post.image_caption }}</small></p>
			{% endif %}
		</aside>
	{% endif %}

	<footer class="post-footer">
		<small>
			<a href="{{ post.url }}">Posted <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%-m-%-d-%y" }}</time></a>
			&bull; <a href="mailto:{{ site.email }}?Subject={{ post.title }}">Reply</a>
		</small>
	</footer>
</article>