{% assign artist = include.artist | strip %}
{% assign secondary = include.secondary_artist | strip %}

<div class="space-y-2">
    <div class="grid grid-cols-3 md:grid-cols-4 gap-2">
        {% if artist.size > 0 %}
            {% assign releases = site.releases | where_exp: "release", "release.artist == artist or release.artist == secondary" | sort: "year" | reverse %}
        {% elsif include.show_featured == true %}
            {% assign releases = site.releases | where_exp: "release", "release.featured == true" | sort: "year" | reverse %}
        {% endif %}
        {% for release in releases %}
            <div class="">
                <a href="{{ release.listen }}" target="_blank" class="">
                    <div class="w-full flex-shrink-0 mb-2">{% picture "{{ release.image }}" --alt {{ release.title }} artwork --img class="w-full border border-black/10 dark:border-white/20" %}</div>
                    <div class="leading-[1.2] line-clamp-2 text-base">{{ release.title }}</div>
                    {% if include.show_featured == true %}
                        <div class="leading-[1.2] mt-1 text-sm line-clamp-2">{{ release.artist }}</div>
                    {% else %}
                        <div class="leading-[1.2] mt-1 text-sm md:text-xs lowercase opacity-40 line-clamp-2">{{ release.role }}</div>
                    {% endif %}
                </a>
            </div>
        {% endfor %}
    </div>
</div>