<div>
    <div class="flex flex-row h-full items-center py-2 transition-all hover:bg-yellow-400">
        <div class="w-full flex-grow space-y-1">
            <div class="md:inline-block font-mono md:me-2 opacity-40 text-xs">{{ show["Date"] }}</div>
            <div class="md:inline-block leading-tight">{{ show["Artist"] }} &#10139; {{ show["Location"] }}</div>
            <div class="md:inline-block opacity-40 text-xs uppercase font-mono">{{ show["Venue"] }}</div>
        </div>
        {% if show["Link"] and include.upcoming %}<a href="{{ show['Link'] }}" class="button text-xs md:text-sm text-end ms-2">Tickets</a>{% endif %}
    </div>
</div>
