<li>
    <div class="flex flex-row h-full items-center py-2 transition-all hover:text-obs-green hover:bg-obs-green/20">
        <div class="w-full flex-grow space-y-1">
            <span class="block md:inline-block font-mono md:me-2 opacity-40 text-xs">{{ show["Date"] }}</span>
            <span class="block md:inline-block leading-tight">
                <span>{{ show["Artist"] }}</span>
                <span>&#10139;</span>
                <span>{{ show["Location"] }}</span>
            </span>
            <span class="block md:inline-block opacity-40 text-xs uppercase font-mono md:ps-1">{{ show["Venue"] }}</span>
        </div>
        {% if show["Link"] and include.upcoming %}<a href="{{ show['Link'] }}" class="button text-xs md:text-sm text-end ms-2">Tickets</a>{% endif %}
    </div>
</li>
