<div>
    <a href="{{ show['Link'] }}" target="_blank" class="block text-center sm:text-start sm:flex flex-row items-center pt-2 sm:py-1 sm:gap-2 transition-all md:rounded-2xl hover:bg-yellow-400 hover:text-black border-black dark:border-white hover:border-black px-[3vw] -mx-[3vw]">
        <div class="truncate">{{ show["Location"] }} with {{ show["Artist"][0].value }}</div>
        <div class="hidden sm:block flex-grow border-inherit border-t-2 border-dotted"></div>
        <div class="link sm:text-end truncate">{{ show["Date"] | date: "%e %b %Y" }} at {{ show["Venue"] }}</div>
        <div class="block sm:hidden w-full border-b border-black/10 mt-2 dark:border-white/20"></div>
    </a>
</div>
