{% if site.buttondown %}<form
  action="https://buttondown.email/api/emails/embed-subscribe/{{ site.buttondown }}"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/{{ site.buttondown }}', 'popupwindow')"
  class="embeddable-buttondown-form subscribe-form"
>
	<label for="bd-email" class="visuallyhidden">Enter your email address</label>
	<input type="email" name="email" id="bd-email" aria-label="Enter your email address" placeholder="Your email address">
	<input type="hidden" value="1" name="embed">
	<input type="submit" value="Subscribe">
</form>{% endif %}
