<div class="columns-2xs [column-rule:solid_1px_rgba(0,0,0,0.2)] dark:[column-rule:solid_1px_rgba(255,255,255,0.2)] gap-[3vw] space-y-4">
    {% assign posts = site.wire | group_by_exp: "post", "post.date | date: '%F'" | reverse %}
    {% for day in posts limit: include.limit %}
    <div class="border-b pb-4 border-black/20 dark:border-white/20">
        <p class="font-bold mb-2 break-after-avoid"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ day.name | date: "%a, %e %b %Y" }}</time></p>

        <div class="space-y-4">
            {% for post in day.items reversed %}
                <article class="before:content-['▚'] before:float-start before:pe-2 before:top-1 before:relative before:text-xs space-y-2 max-w-screen-md mx-auto break-inside-avoid">
                    {% if post.link %}<p><a href="{{ post.link }}" class="">{{ post.title }}</a></p>{% endif %}
                    {{ post.content }}
                </article>
            {% endfor %}
        </div>
    </div>
    {% endfor %}

    {% if include.limit %}<p class="callout"><a href="{% link pages/wire.html %}">Continue reading Wire Service</a></p>{% endif %}
</div>
