<div class="space-y-16">
    {% assign posts = site.wire | group_by_exp: "post", "post.date | date: '%F'" | reverse %}
    {% for day in posts limit: include.limit %}
    <div class="space-y-4">
        <time class="block opacity-40 text-sm break-after-avoid" datetime="{{ day.date | date_to_xmlschema }}" itemprop="datePublished">{{ day.name | date: "%a, %e %b %Y" }}</time>

        <div class="space-y-4">
            {% for post in day.items reversed %}
                <article id="{{ post.slug }}" class="{% unless forloop.last %}border-b border-black/10 dark:border-white/20{% endunless %} pb-4 space-y-4 break-inside-avoid">
                    {% if post.link and post.headline %}
                        <p><a href="{{ post.link }}">{{ post.headline }}</a></p>
                    {% elsif post.headline %}
                        <p class="font-bold">{{ post.headline }}</p>
                    {% endif %}
                    {{ post.content }}
                </article>
            {% endfor %}
        </div>
    </div>
    {% endfor %}

    {% if include.limit %}<p class="highlight"><a href="{% link pages/wire.html %}">Continue reading Wire Service</a></p>{% endif %}
</div>
