---
title: "Upcoming Shows"
permalink: "/shows"
layout: page
---

<div>
	{% assign shows = site.data.shows | sort:"Date" %}
	{% assign today_date = "now" | date: "%s" %}
	{% for show in shows %}
		{% assign show_date = show["Date"] | date: "%s" %}
		{% if show_date > today_date %}
            {% include show.html %}
		{% endif %}
	{% endfor %}
    <p class="text-center sm:text-start py-4 sm:py-1 transition-all hover:bg-yellow-400 px-[3vw] -mx-[3vw]"><a class="block hover:text-black hover:decoration-black transition-all" href="{% link pages/shows/shows-archive.html %}">Travel to the past</a>
</div>
