---
title: Shows Archive
permalink: "/shows-archive"
layout: page
---

<div class="divide-y-2 divide-dotted divide-black/20 dark:divide-white/20 w-full">
    {% assign shows = site.data.shows | sort:"Date" | reverse %}
    {% assign today_date = "now" | date: "%s" %}
    {% for show in shows %}
        {% assign show_date = show["Date"] | date: "%s" %}
        {% if today_date > show_date %}
            {% include show.html %}
        {% endif %}
    {% endfor %}
</div>
<p>…and many more before Sept 2021 :-)</p>
