@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
	@font-face {
		font-family: "FT88 Italic";
		src: url("/assets/fonts/FT88-Italic.woff2") format("woff2"), url("/assets/fonts/FT88-Italic.woff") format("woff");
		font-style: normal;
	}
	
	p {
		@apply max-w-prose leading-relaxed my-8;
	}
	
	p:first-child {
		@apply mt-0;
	}
	
	p:last-child {
		@apply mb-0;
	}
	
	h1 + p,
	h2 + p,
	h3 + p,
	h4 + p,
	h5 + p,
	h6 + p {
		@apply mt-0;
	}
	
	p a {
		@apply link;
	}
	
	blockquote {
		@apply border-l-2 border-current pl-4 my-8;
	}
	
	input[type="email"] {
		@apply drop-shadow-md bg-white p-4 rounded-md text-center;
	}
}

@layer components {
	.gallery {
		@apply flex flex-row overflow-y-visible overflow-x-scroll items-center snap-x snap-mandatory no-scrollbars -my-8 py-16 px-[5vw] gap-[5vw] md:gap-8 [&>*]:shrink-0 [&>*]:snap-center [&>*]:block [&>*]:rounded [&>*]:shadow-xl [&>*]:max-h-[40vh] sm:[&>*]:max-h-[50vh] [&>*]:max-w-[90%];
	}
	
	.button {
		@apply inline-block shadow-md bg-black py-4 px-12 text-white rounded-full no-underline transition-all hover:shadow-lg hover:scale-[1.02];
	}
}

@layer utilities {
	.h2 {
		@apply text-lg uppercase font-semibold tracking-widest mb-4;
	}
	
	.h3 {
		@apply text-sm uppercase tracking-widest opacity-40 mb-2;
	}
	
	.picture {
		@apply rounded shadow-xl my-16;
	}
	
	.no-scrollbars {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
	
	.no-scrollbars::-webkit-scrollbar {
		display: none;
	}
	
	.link {
		@apply underline decoration-sky-500 decoration-2 underline-offset-2;
	}
}
