@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
	@font-face {
		font-family: "ISO";
		src: url("/assets/fonts/ISOv0.7-Regular.woff2") format("woff2");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "ISO";
		src: url("/assets/fonts/ISOv0.7-RegularItalic.woff2") format("woff2");
		font-weight: normal;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: "ISO";
		src: url("/assets/fonts/ISOv0.7-Bold.woff2") format("woff2");
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}
	
	p {
		@apply max-w-prose leading-[1.4em] reg-spacing;
	}
	
	p:first-child {
		@apply mt-0;
	}
	
	p:last-child {
		@apply mb-0;
	}
	
	h1 + p,
	h2 + p,
	h3 + p,
	h4 + p,
	h5 + p,
	h6 + p {
		@apply mt-0;
	}
	
	p a {
		@apply link;
	}
	
	blockquote {
		@apply border-s-2 border-current ps-4 my-4 clear-start;
	}

	blockquote:first-child {
		@apply mt-0;
	}

	blockquote:last-child {
		@apply mb-0;
	}

	article ul {
		@apply list-disc ms-4 space-y-2;
	}

	article ol {
		@apply list-decimal ms-4 space-y-2;
	}
	
	input[type="email"] {
		@apply drop-shadow-md bg-white p-4 rounded-md text-center;
	}

	summary {
		@apply cursor-pointer;
	}

	mark {
		@apply bg-yellow-400 p-0.5;
	}
}

@layer components {
	.gallery {
		@apply flex flex-row overflow-y-visible overflow-x-scroll items-center snap-x snap-mandatory no-scrollbars -my-8 py-16 px-[5vw] gap-[5vw] md:gap-8 [&>*]:shrink-0 [&>*]:snap-center [&>*]:block [&>*]:rounded [&>*]:shadow-xl [&>*]:max-h-[40vh] sm:[&>*]:max-h-[50vh] [&>*]:max-w-[90%];
	}
	
	.button {
		@apply inline-block bg-blue-600 py-2 px-4 text-white no-underline transition-all hover:brightness-110;
	}

	.announcement-label {
		@apply bg-yellow-400 dark:bg-violet-800/80 p-2 text-black dark:text-white/60 uppercase tracking-wide font-mono text-sm;
	}
}

@layer utilities {
	.h2 {
		@apply opacity-50 font-sans text-sm flex gap-1 mb-2 items-center;
	}
	
	.h3 {
		@apply font-sans text-sm uppercase tracking-widest opacity-40 mb-2;
	}
	
	.picture {
		@apply rounded shadow-xl my-16;
	}
	
	.no-scrollbars {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
	
	.no-scrollbars::-webkit-scrollbar {
		display: none;
	}
	
	.link {
		@apply underline text-blue-600 dark:text-obs-green decoration-obs-green dark:decoration-obs-green decoration-1 underline-offset-4 hover:brightness-110;
	}
	
	ul.link-list {
		@apply space-y-2 ms-[0.3rem] ps-[0.6rem] border-l dark:border-white/25;
	}

	ul.link-list a {
		@apply link;
	}

	.link-list-note {
		@apply opacity-25 ms-1 font-mono text-xs;
	}

	.ascii {
		@apply font-mono text-xs whitespace-pre;
	}
}
