---
title: Archive
permalink: "/observations/archive"
layout: obs-page
---

<p>Search functionality coming soon…</p>

<p>Click or tap the <span class="inline-icon"></span> logo at the top of the page to read a random post.</p>

<hr>

<h2>Browse by month</h2>

{% assign months_by_year = site.observations-months | group_by_exp:"month", "month.date | date: '%Y'" %}
{% for year in months_by_year reversed %}
<p>
	<strong>{{ year.name }}</strong><br>
	{% assign months = year.items | reverse %}
	{% for month in months %}
		<a href="{{ month.url }}">{{ month.date | date: "%b" }}</a>{% unless forloop.last == true %} / {% endunless %}
	{% endfor %}
</p>
{% endfor %}

<hr>

<p>Post count: {{ site.observations | size }}</p>