---
title: Archive
permalink: "/observations/archive"
layout: obs-page
---

<p>Click <a href="{% link pages/observations/random.html %}">here</a> or on the spinning <strong>OBSERVATIONS</strong> logo to read a random post.</p>

<hr>

{% assign months_by_year = site.observations-months | group_by_exp:"month", "month.date | date: '%Y'" %}
{% for year in months_by_year reversed %}
<p>
	<strong>{{ year.name }}</strong><br>
	{% assign months = year.items | reverse %}
	{% for month in months %}
		<a href="{{ month.url }}">{{ month.date | date: "%b" }}</a>{% unless forloop.last == true %} / {% endunless %}
	{% endfor %}
</p>
{% endfor %}

<p>Post count: {{ site.observations | size }}</p>