---
title: Observations
permalink: "/observations"
layout: obs
---

{% for announcement in site.announcements limit:1 %}
	{% if announcement.is_visible == true %}
		<section class="announcement" style="--announcement-background-color: {{ announcement.background_color }}; --announcement-text-color: {{ announcement.text_color }};">
			{{ announcement.content }}
		</section>
	{% endif %}
{% endfor %}

{% assign observations = site.observations | reverse %}
{% for post in observations limit:30 %}
	{% include obs-post.html %}
{% endfor %}

<p><a href="{% link pages/observations/archive.html %}">View older posts in the archive</a> <span class="arrow">&rarr;</span></p>