a {
  text-decoration: underline;
}

body.obs-newsletter {
  max-width: 640px;
  margin: 40px auto;
  padding: 0 28px;
}

header#site-header {
  text-align: center;
  position: initial;
}

header#site-header img {
  width: 48px;
  margin: 0 auto;
  display: block;
}

header#site-header h1 {
  margin-bottom: 0.4em;
}

main#site-content {
  margin-top: 0;
}

main#site-content img {
  max-width: 100%;
  display: block;
  margin: 2em auto;
  border-radius: 4px;
}

article.post {
  margin-bottom: 0;
}

article.post header {
  text-align: center;
}

/* article.post header h1:after {
  These styles are in main observations.css because of annoying Campaign Monitor import glitch?
} */

section.post-content {
  margin-top: 40px;
  width: 100%;
  text-align: left;
}

section.post-content h2 {
  display: block;
  margin: 1em 0;
  text-align: center;
}

/* This style and the one below it is trying to counteract 25px in main observations stylsheet… */
section.post-content ul {
  padding-inline-start: 0;
  padding-left: 0;
}

section.post-content ul ul {
  padding-inline-start: 25px;
  padding-left: 0;
}

/* section.post-content ul li:before {
  These styles are in main observations.css because of annoying Campaign Monitor import glitch?
} */

section.post-content a.date-code {
  font-size: 0.88em;
  color: rgba(0,0,0,0.44);
  text-decoration: none;
}

footer#site-footer {
  text-align: center;
  margin-top: 40px;
}

footer#site-footer a {
  text-decoration: underline;
}

footer#site-footer p {
  margin-bottom: 1em;
}

footer#site-footer img {
  margin: 0.4em auto 0;
}
