---
title: Discography
permalink: "/discography"
layout: page
---

<section class="space-y-8">
	{% assign releases_by_year = site.releases | group_by:"year" | reverse %}
	{% for year in releases_by_year %}
		<div>
			<h2 class="text-lg text-center tracking-wider mb-8">{{ year.name }}</h2>
	
			<ol class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
				{% assign releases = year.items | sort:"year" | reverse %}
				{% for release in releases %}
					<li class="rounded-md bg-sky-100/60 p-4 transition-all hover:bg-sky-100/80 hover:shadow-mg hover:scale-[1.02]">
						<a href="{{ release.listen }}" target="_blank" class="flex flex-row h-full items-center gap-4">
							<div class="basis-1/4 grow-0 shrink-0">
								<img src="{{ release.image }}" alt="{{ release.title }} artwork" class="rounded-md" />
							</div>
							<div class="space-y-1">
								<div class="font-semibold">{{ release.title }}</div>
								{% if release.artist %}<div>{{ release.artist }}</div>{% endif %}
								{% if release.role %}<div class="text-sm opacity-40">{{ release.role }}</div>{% endif %}
							</div>
						</a>
					</li>
				{% endfor %}
			</ol>
		</div>
	{% endfor %}
</section>
