---
title: Music
permalink: "/music"
layout: page
---

<div class="space-y-8">
	<p>Listen to <a href="https://lnkfi.re/50dram">50 Songs I Dram</a> <br>Listen to my solo releases on <a href='https://spencertweedy.bandcamp.com/music'>Bandcamp</a>, <a href='https://open.spotify.com/artist/7vVAC0lEXRJiUM0dw1fAmg?si=tOerz0SHSUOnStjGuA_oHQ'>Spotify</a>, <a href='https://music.apple.com/us/artist/spencer-tweedy/1192853169'>Apple Music</a>, and <a href='https://tidal.com/browse/artist/8415400?u'>Tidal</a> <br>Or click on any record below</p>
	
	<section class="space-y-4 text-base">
		{% assign releases_by_year = site.releases | group_by: "year" | sort: "name" | reverse %}
		{% for year in releases_by_year %}
			<div class="">
				{% assign releases = year.items | reverse %}
				<div class="">
					<span class="text-lg font-bold">{{ year.name }}</span>
				</div>
				<div class="divide-y-2 divide-dotted divide-obs-green/20 w-full">
					{% for release in releases %}
						<div>
							<a href="{{ release.listen }}" target="_blank" class="flex flex-row h-full items-center py-2 transition-all hover:text-obs-green hover:bg-obs-green/20">
								<div class="w-10 md:w-12 flex-shrink-0"><img src="{{ release.image }}" alt="{{ release.title }} artwork" class="w-full"></div>
								<div class="pl-2 md:pl-4 pr-2 w-full flex-grow leading-tight"><span>{{ release.artist }}</span><br><span class="inline-block text-sm md:text-base italic">{{ release.title }}</span> <span class="opacity-40 text-xs uppercase font-mono ps-1">{{ release.type }}</span></div>
								<div class="lowercase opacity-40 text-xs md:text-sm text-end">{{ release.role }}</div>
							</a>
						</div>
					{% endfor %}
				</div>
			</div>
		{% endfor %}
	</section>
	<section>
		{% assign LPs = site.releases | where: "type", "LP" %}
		{% assign EPs = site.releases | where: "type", "EP" %}
		{% assign singles = site.releases | where: "type", "single" %}
		<p class="opacity-40 text-xs">{{ LPs.size }} LPs, {{ EPs.size }} EPs, and {{ singles.size }} singles</p>
	</section>
	<section>
		<p><a href="mailto:{{ site.email }}">Contact me</a></p>
	</section>
</div>
