---
title: Music
permalink: "/music"
layout: page
width: constrained
---

<div class="space-y-8">
	<p>
		<a href="https://lnkfi.re/50dram" target="_blank">Listen</a> to 50 Songs I Dram <br>
		<a href="{% link pages/drumprints.html %}">Download</a> free drum samples <br>
		<a href="https://youtube.com/playlist?list=PLqYW-VP-pvnnNRAbqByvkrSKL7PsRLxBj&si=lQmRwJHEpFTG9bAz" target="_blank">Watch</a> videos <br>
		Browse below
	</p>
	<div class="space-y-2">
		<h3>With my dad</h3>
		{% include release-carousel.html artist="Jeff Tweedy" %}
	</div>
	<div class="space-y-2">
		<h3>With Waxahatchee and Plains</h3>
		{% include release-carousel.html artist="Waxahatchee" secondary_artist="Plains" %}
	</div>
	<div class="space-y-2">
		<h3>With Mavis Staples and Pops Staples</h3>
		{% include release-carousel.html artist="Mavis Staples" secondary_artist="Pops Staples" %}
	</div>
	<div class="space-y-2">
		<h3>With Case Oats</h3>
		{% include release-carousel.html artist="Case Oats" %}
	</div>
	<div class="space-y-2">
		<h3>On my own</h3>
		{% include release-carousel.html artist="Spencer Tweedy" %}
	</div>

	<section class="space-y-4">
		<h3>All releases</h3>

		{% include releases.html %}
	</section>
</div>
