---
title: Music
permalink: "/music"
layout: page
width: constrained
---

<div class="space-y-8">
	<p>
		listen to a playlist of <a href="https://lnkfi.re/50dram" target="_blank">50 songs I dram</a>,
		<br>download <a href="{% link pages/drumprints.html %}">free drum samples</a>,
		<br>watch some <a href="https://youtube.com/playlist?list=PLqYW-VP-pvnnNRAbqByvkrSKL7PsRLxBj&si=lQmRwJHEpFTG9bAz" target="_blank">videos</a>,
		<br>or browse below
	</p>

	<p>Thank you!</p>
	
	<div class="space-y-2">
		<h2>With my dad</h2>
		{% include release-carousel.html artist="Jeff Tweedy" %}
	</div>
	<div class="space-y-2">
		<h2>With Waxahatchee and Plains</h2>
		{% include release-carousel.html artist="Waxahatchee" secondary_artist="Plains" %}
	</div>
	<div class="space-y-2">
		<h2>With Mavis Staples and Pops Staples</h2>
		{% include release-carousel.html artist="Mavis Staples" secondary_artist="Pops Staples" %}
	</div>
	<div class="space-y-2">
		<h2>With Case Oats</h2>
		{% include release-carousel.html artist="Case Oats" %}
	</div>
	<div class="space-y-2">
		<h2>On my own</h2>
		{% include release-carousel.html artist="Spencer Tweedy" %}
	</div>

	<section class="space-y-4">
		<h2>All releases</h2>

		{% include releases.html %}
	</section>
</div>
