---
title: Shows
permalink: "/shows"
layout: page
---

<div class="space-y-8">
	<p>Playin on the road.</p>
	<ol class="divide-y-2 divide-dotted divide-obs-green/20 w-full">
		{% assign shows = site.data.shows | sort:"Date" %}
		{% assign today_date = "now" | date: "%s" %}
		{% for show in shows %}
			{% assign show_date = show["Date"] | date: "%s" %}
			{% if show_date > today_date %}
				{% include show.html upcoming=true %}
			{% endif %}
		{% endfor %}
	</ol>

	<div class="text-lg font-bold">Past shows</div>
	<ol class="divide-y-2 divide-dotted divide-obs-green/20 w-full">
		{% assign shows = site.data.shows | sort:"Date" | reverse %}
		{% assign today_date = "now" | date: "%s" %}
		{% for show in shows %}
			{% assign show_date = show["Date"] | date: "%s" %}
			{% if today_date > show_date %}
				{% include show.html %}
			{% endif %}
		{% endfor %}
		<p>…and many more before Sept 2021 :-)</p>
	</ol>
</div>
