---
layout: base
permalink: "/wire"
---

<div class="px-[5vw] space-y-[10vh]">
	{% assign posts = site.wire | reverse %}
	{% for post in posts %}
	<article class="space-y-2">
		{% if post.link %}<h1 class=""><a href="{{ post.link }}" class="link">{{ post.title }}</a></h1>{% endif %}
		<div>{{ post.content }}</div>
		<div class="uppercase font-mono text-xs space-x-2">
			<span class="opacity-40"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%Y-%m-%d" }}</time></span>
			<span class="text-blue-600 dark:text-obs-green">{{ post.tags }}</span>
		</div>
	</article>
	{% endfor %}
</div>
