---
layout: page
permalink: "/wire"
---

<div class="space-y-8 max-w-[55ch]">
	{% assign posts = site.wire | reverse %}
	{% for post in posts %}
	<article class="space-y-4 leading-6">
		<div class="uppercase float-start font-bold pe-2">
			<time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%Y-%m-%d" }}</time>
			{% if post.tags != empty %}<span>FILED: {{ post.tags }}</span>{% endif %}
		</div>
		{% if post.link %}<div><h1><a href="{{ post.link }}" class="link">{{ post.title }}</a></h1></div>{% endif %}
		<div>{{ post.content }}</div>
	</article>
	{% endfor %}
</div>
