<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8">

    <title>
        {%- if page.title %}{{ page.title | escape }} &#8942; {% endif -%}
        {{ site.title | escape -}}
    </title>
    <meta name="description" content="{{ site.description }}">

    <!--
        ~~~~~~~~~~~~
        LOVE & LOGIC
        ~~~~~~~~~~~~
    -->

    <!-- Define viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Define color scheme preference -->
    <meta name="color-scheme" content="light dark">

    <!-- Import stylesheets -->
    {% if page.layout contains 'classic' %}
        <link rel="stylesheet" href="{% link assets/stylesheets/normalize.css %}">
        {% if site.typekit %}<link rel="stylesheet" href="https://use.typekit.net/{{ site.typekit }}.css">{% endif %}
        <link rel="stylesheet" href="{% link assets/stylesheets/main.scss %}">
    {% else %}
        {% if site.typekit %}<link rel="stylesheet" href="https://use.typekit.net/{{ site.typekit }}.css">{% endif %}
        <link rel="stylesheet" href="{% link assets/stylesheets/tailwind.css %}">
    {% endif %}

    <!-- Link favicons -->
    <link rel="icon" type="image/png" href="{% link assets/favicons/favicon.png %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% link assets/favicons/apple-icon.png %}">

    <!-- Link RSS feed -->
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{% link feed.xml %}">
    
    <!-- Define canonical URL -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">

    <!-- Social media tags -->
    <meta property="og:title" content="
        {%- if page.title -%}
            {{ page.title | escape }}
        {%- else -%}
            {{ site.title | escape -}}
        {%- endif -%}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:image" content="
        {%- if page.feature_image -%}
            {{ page.feature_image | prepend: site.url }}
        {%- else -%}
            {{ site.cover_photo_path | prepend: site.url }}
        {%- endif -%}">
    <meta property="og:image:alt" content="
        {%- if page.feature_image -%}
        {%- else -%}
            A black-and-white photo of Spencer Tweedy playing drums in a recording studio
        {%- endif -%}">
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta name="twitter:card" content="summary_large_image">
    {% if site.twitter %}<meta name="twitter:site" content="@{{ site.twitter }}">{% endif %}

    <!-- Umami analytics -->
    <script async defer data-website-id="95944069-6b4e-4fc8-9d2d-9d858ac2e937" src="https://spoonalytics.net/umami.js"></script>
</head>

<body class="font-sans font-light bg-amber-300 text-black">
    {{ content }}
</body>
</html>
