---
layout: base
---

{% if site.cover_photo_path %}
	<div id="cover-photo-container">
		<div id="cover-photo"><img src="{{ site.cover_photo_path }}" alt="{{ site.cover_photo_caption }}"></div>
	</div>
{% endif %}

<header id="site-header">
	<a href="#site-content" class="sr-only">Skip to content</a>
		
	<h1 id="site-title">
		<a href="{{ site.url }}">{{ site.title }}</a>
	</h1>
</header>

<main id="site-content">
	{{ content }}
</main>

<footer id="site-footer">
	<p>
		{% if site.cover_photo_credit %}{% if page.layout == 'default' %}Cover photo by <a href="{{ site.cover_photo_credit[1] }}">{{ site.cover_photo_credit[0] }}</a><br>{% endif %}{% endif %}
		&copy; {{ site.time | date: "%Y" }} {{ site.title }} &bull; Updated {{ site.time | date: "%Y-%m-%d" }} &bull; <a href="{% link pages/contact.html %}">Contact</a>
	</p>
	
	<a href="#site-header" class="sr-only">Back to start</a>
</footer>