---
layout: base
---

<div class="my-[10vh] font-sans font-light">
	<header id="site-header" class="mb-12 px-[5vw]">
		<a href="#site-content" class="sr-only">Skip to content</a>
			
		<h1 id="site-title" class="">
			<a href="{{ site.url }}">{{ site.title }}</a>
		</h1>
	</header>
	
	<main id="site-content" class="space-y-12">
		{{ content }}
	</main>
	
	<footer id="site-footer" class="opacity-20 mt-12 text-xs px-[5vw]">
		<div>Updated {{ site.time | date: "%Y-%m-%d" }} &bull; <a href="{% link pages/index.html %}" class="underline">Home</a></div>
		
		<a href="#site-header" class="sr-only">Back to start</a>
	</footer>
</div>