<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8">

    <title>{% if page.title %}{{ page.title | escape }} &#8942; {% endif %}{{ site.title | escape }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Define viewport -->
    <meta name="robots" content="noindex, nofollow"><!-- Disallow search engine indexing, etc. -->

    <style>
    	{% include obs-newsletter.css %}
    </style>
	
	<meta property="og:title" content="
		{%- if page.title -%}
			{{ page.title | escape }}
		{%- else -%}
			{%- if page.layout contains 'obs-' %}Observations &#8942; {% endif -%}
			{{ site.title | escape -}}
		{%- endif -%}">
	<meta property="og:description" content="
		{%- if page.layout contains 'obs' -%}
			{{ site.obs_description }}
		{%- else -%}
			{{ site.description }}
		{%- endif -%}">
	<meta property="og:image" content="
		{%- if page.layout contains 'obs' -%}
			{{ site.url }}{% link assets/obs-social.png %}
		{%- elsif page.feature_image -%}
			{{ page.feature_image | prepend: site.url }}
		{%- else -%}
			{{ site.cover_photo_path | prepend: site.url }}
		{%- endif -%}">
	<meta property="og:image:alt" content="
		{%- if page.layout contains 'obs' -%}
			The Observations blog logo
		{%- elsif page.feature_image -%}
		{%- else -%}
			A black-and-white photo of Spencer Tweedy playing drums in a recording studio
		{%- endif -%}">
	<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}">
	<meta property="og:site_name" content="{{ site.title }}">
	<meta name="twitter:card" content="summary_large_image">
	{% if site.twitter %}<meta name="twitter:site" content="@{{ site.twitter }}">{% endif %}
</head>

<body class="{{ page.layout }}">
	<div id="body">
		<header id="site-header">
	        <img src="{% link assets/newsletter/observations-dark@3x.png %}" class="dark-logo" alt="Observations logo">

		    <h1 class="site-title">
		        <a href="{% link pages/observations/index.html %}">Observations</a>
	        </h1>
		</header>

		<main id="site-content">
	        <article class="post">
				<header class="post-header">
					<h1>{{ page.title }}</h1>
				</header>

				<section class="post-content">
					{{ content }}
				</section>
			</article>
		</main>

		<footer id="site-footer">
		    <p><a href="{{ site.url }}/observations">Observations</a> is Spencer Tweedy’s blog.</p>
		    <p>New? <a href="{% link pages/observations/subscribe.md %}">Subscribe here</a>.</p>
		    <p><unsubscribe>Unsubscribe</unsubscribe> instantly.</p>
		    <img src="{% link assets/drums.gif %}" alt="Animated drumming figure">
		</footer>
	</div>
</body>
</html>
