---
layout: obs
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
	<header class="post-header">
		<h1>{{ page.title }}</h1>
	</header>

	<section class="post-content">
		{{ content }}
	</section>
	
	{% if page.image %}
		<aside class="post-aside">
			<img src="{{ page.image }}"{% if page.image_caption %} alt="{{ page.image_caption }}"{% endif %}>
		</aside>
	{% endif %}

	<footer class="post-footer">
		<small>
			Posted <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%-m-%-d-%y" }}</time>
			&bull; <a href="mailto:{{ site.email }}?Subject={{ page.title }}">Reply</a>
		</small>
	</footer>
</article>

<p>
	{% if page.next != nil %}<a href="{{ page.next.url }}">&larr; Newer post</a>{% endif %}
	{% if page.next != nil and page.previous != nil %} &bull; {% endif %}
	{% if page.previous != nil %}<a href="{{ page.previous.url }}">Older post &rarr;</a>{% endif %}
</p>